body{
  font-family: "Acme";
  margin: 0 auto;
  background-color: #1d1a05 ;
}
header{
  height: 80px;
  background: #ca3c25 ;
  width:  100%;
}
nav {
  padding-left: 100px;
  padding-top: 20px;
}
a{
  color: white;
  margin-left: 20px;
}
a:hover{
  cursor: pointer;
  color: #F3F781 ;
}
.panditas{
  position: relative;
  display: inline-block;
  }
.pandas{
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
    }
.enlace{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  top: 8px;
  text-decoration: none;
}
img{
  box-sizing: border-box;
  border: 5px solid #595959 ;
  width: 250px;
  height: 250px;
}
#botones{
  margin-left: 150px;
}
button {
    background-color: #c93c26 ;
    color: white;
    border: none;
    width: 300px;
    font-size: 15px;
    outline-color: #9fa670; /* cambia borde de boton*/
}
p{
    color: white;
    display: inline-block;
    width: 550px;
    text-align: justify;
    margin-left: 120px;

}
#otro-text{
  margin-left: 20px;

}
.show-text {
  visibility: hidden;
}
footer{
  text-align: center;
  height: 30px;
  background-color: #ca3c25 ;
  color: white;

}
